@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  color: #ffffff;
}

*::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}
*::-webkit-scrollbar-track {
  background: #f9fafb; /* Light mode: Track background */
  background-color: #1f2937; /* Dark mode: Track background */
}
*::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Light mode: Thumb color */
  background-color: #4b5563; /* Dark mode: Thumb color */
  border-radius: 10px; /* Rounded scrollbar thumb */
  border: 2px solid transparent; /* Padding around thumb */
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* Thumb hover effect */
}

@media (max-width: 768px) {
  * {
    font-size: 0.8rem;
  }
}
